<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/common :: head_common(~{this :: script})">
        <meta charset="UTF-8">
        <title>Error 404</title>
    </head>
<body  marginwidth="0" marginheight="0">
<div th:replace="layout/header/header :: header"></div>
<div class="container">
    <div class="row">
        <h1>Error Page</h1>
    </div>
    <div class="row">Unauthorized</div>
    <div class="row rowDesign">
        <div class="col-md-4 ml-auto">
            <span class="legend">Date</span>
        </div>
        <div class="col-md-8">
            <span th:text="${timestamp}"></span>
        </div>
    </div>
    <div></div>
    <div class="row rowDesign">
        <div class="col-md-4 ml-auto">
            <span class="legend">Url</span>
        </div>
        <div class="col-md-8">
            <span th:text="${url}"></span>
        </div>
    </div>
    <div class="row rowDesign">
        <div class="col-md-4 ml-auto">
            <span class="legend">Status</span>
        </div>
        <div class="col-md-8">
            <span th:text="${status}"></span>
        </div>
    </div>
    <div class="row rowDesign">
        <div class="col-md-4 ml-auto">
            <span class="legend">Message</span>
        </div>
        <div class="col-md-8">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>
</body>
</html>