<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/common :: head_common(~{this :: script})">
    <meta charset="UTF-8">
    <title>Profile</title>
    <script type="text/javascript" th:src="@{/js/brand/brand.js}"></script>
</head>
<body>
<div th:replace="layout/header/header :: header"/>

<script th:inline="javascript">
    function saveBrand(e) {
        var name = document.getElementById("brand-name-input").value;
        var brandArray = [[${existsBrands}]];
        if (brandArray.includes(name)) {
            e.preventDefault();
            $("#brand-name-input").addClass("is-invalid");
            $("#edit-brand-error-small").text("brand already exist");
            return false;
        } else {
            return true;
        }
    }
</script>

<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-12">
            <form id="user-details-form"
                  th:action="@{/brands/{brandId}/update(brandId=${brand.id})}"
                  method="POST" th:object="${brand}" onsubmit="saveBrand(event)">
                <div class="card mb-4">
                    <div class="card-header">Brand info</div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="brand-id-input" class="col-2 col-form-label">
                                Id:
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="brand-id-input" name="id"
                                       th:value="*{id}" readonly/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="brand-name-input" class="col-2 col-form-label">
                                Name:
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="brand-name-input" name="name"
                                       th:value="*{name}" readonly/>
                                <small class="text-danger" id="edit-brand-error-small"></small>
                            </div>
                        </div>
                        <div class="form-group row" id="edit-brand-button-div">
                            <input type="button"
                                   class="from-control btn btn-light btn-lg btn-block"
                                   onclick="MakeEditableBrands()"
                                   value="Edit">
                        </div>
                        <div class="form-group row" id="show-brand-models-button-div">
                            <input type="button"
                                   class="from-control btn btn-light btn-lg btn-block"
                                   onclick="ShowBrandModels()"
                                   value="Show models">
                        </div>

                        <div class="form-group row" id="edit-manage-brand-buttons-div"
                             style="display: none">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input type="submit" class="btn btn-primary" value="Save Changes">
                                <span></span>
                                <input type="reset" class="btn btn-default" onclick="MakeUnEditableBrands()"
                                       value="Cancel">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>