<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/common :: head_common(~{this :: script})">
    <script type="text/javascript" th:src="@{/js/brand/brand.js}"></script>
    <meta charset="UTF-8">
    <title>Users</title>
</head>


<body>
<div th:replace="layout/header/header :: header"/>
<div class="container-fluid">
    <div>
        <div class="container my-5">
            <div class="form-group row">
                <span th:size="16" class="mr-2" th:text="#{brands.search.name.title}">Search by name</span>
                <button
                        class="from-control btn btn-light btn-lg btn-block"
                        onclick="ShowSearchByNameForm()" th:text="#{brands.search.button}">Search
                </button>
            </div>
            <div class="row" id="search-name-form" style="display: none">
                <form th:action="@{/brands/by-name}" method="get">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="name" th:text="#{brands.name} + ':'">Name:</label>
                            <input class="form-control" id="name" type="text" name="name">
                        </div>
                    </div>
                    <div class="col-md-8 mb-3 content-center">
                        <button type="submit" th:text="#{brands.search.button}">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <div class="form-group row">
            <span th:size="16" class="mr-2" th:text="#{brands.search.names.title}">Search by names</span>
            <button
                    class="from-control btn btn-light btn-lg btn-block"
                    onclick="ShowSearchByNamesForm()" th:text="#{brands.search.button}">Search
            </button>
        </div>
        <div id="search-names-form" style="display: none">
            <form th:action="@{/brands/by-names}" method="get">
                <div class="form-check form-check-inline">
                    <th:block th:each="brand : ${brandNames}">
                        <input class="form-check-input" type="checkbox" name="names" th:value="${brand}"/>
                        <label class="form-check-label" th:text="${brand}"></label>
                    </th:block>
                    </td>
                </div>
                <div class="col-md-8 mb-3 content-center">
                    <button type="submit" th:text="#{brands.search.button}">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div class="container my-5">
            <div class="form-group row">
                <span th:size="16" class="mr-2" th:text="#{brands.full.view.title}">Search all full view</span>
            </div>
            <div class="col-md-8 mb-3 content-center" id="search-all-full-view-form">
                <a th:href="@{/brands/all-full-view}" class="btn btn-secondary btn-lg" role="button"
                   aria-pressed="true" th:text="#{brands.search.button}">Search</a>
            </div>
        </div>
    </div>
</div>

<span th:if="${#lists.isEmpty(brandFullViewPage.content)}" th:text="#{brands.no.brands}">There are not available brands!</span>
<div th:if="${not #lists.isEmpty(brandFullViewPage.content)}">
    <div class="container-fluid col">
        <div class="col-lg-auto">
            <div class="panel panel-default">
                <h3 class="text-center" th:text="#{brands.header}">Brands list</h3>
                <div class="panel-body table-responsive">
                    <table class="table table-condensed table-striped text-center">
                        <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th scope="col" th:text="#{brands.id}">Id</th>
                            <th scope="col" th:text="#{brands.name}">Name</th>
                        <tr>
                        </thead>
                        <tbody>
                        <th:block th:each="brand, iStat: ${brandFullViewPage.content}"
                                  th:style="${iStat.odd}? 'font-weight: bold;'"
                                  th:alt-title="${iStat.even}? 'even' : 'odd'">
                            <tr data-toggle="collapse" th:attr="data-target='#brand_' + ${iStat.index}"
                                class="accordion-toggle">
                                <td>
                                    <button class="btn btn-dark btn-xs">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td th:text="${brand.id}"></td>
                                <td th:text="${brand.name}"></td>
                            </tr>
                            <tr>
                                <td colspan="12" class="hiddenRow">
                                    <div class="accordian-body collapse col-lg-auto table-responsive"
                                         th:id="'brand_' + ${iStat.index}">
                                        <th:block th:each="model, iStat: ${brand.models}"
                                                  th:style="${iStat.odd}? 'font-weight: bold;'"
                                                  th:alt-title="${iStat.even}? 'even' : 'odd'">
                                            <table class="table table-striped text-center" id="innerTable">
                                                <thead class="thead-dark">
                                                <tr class="info">
                                                    <th th:text="#{brands.full.view.model.name}">Model name</th>
                                                    <th th:text="#{brands.full.view.model.transmission}">Transmission</th>
                                                    <th th:text="#{brands.full.view.model.engine}">Engine type</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="info">
                                                    <td th:text="${model.name}"></td>
                                                    <td th:text="${model.transmission.name()}"></td>
                                                    <td th:text="${model.engineType.name()}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </th:block>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <!-- pagination -->
                <!--                <nav aria-label="Pagination" th:if="${brandPage.totalPages gt 0}">-->
                <!--                    <ul class="pagination justify-content-center font-weight-bold">-->
                <!--                        <li class="page-item" th:classappend="${brandPage.number eq 0} ? 'disabled'">-->
                <!--                            <a class="page-link"-->
                <!--                               th:href="@{/brands(page=${brandPage.number lt 2 ? 1 : brandPage.number})}"-->
                <!--                               aria-label="Previous" title="Previous Page" data-toggle="tooltip">-->
                <!--                                <span aria-hidden="true">&laquo;</span>-->
                <!--                            </a>-->
                <!--                        </li>-->
                <!--                        <li class="page-item" th:classappend="${i eq brandPage.number + 1} ? 'active'"-->
                <!--                            th:each="i : ${#numbers.sequence( 1, brandPage.totalPages, 1)}">-->
                <!--                            <a class="page-link" th:href="@{/brands(page=${i})}" th:text="${i}"-->
                <!--                               th:title="${'Page '+ i}" data-toggle="tooltip"></a>-->
                <!--                        </li>-->
                <!--                        <li class="page-item"-->
                <!--                            th:classappend="${brandPage.number + 1 eq brandPage.totalPages} ? 'disabled'">-->
                <!--                            <a class="page-link"-->
                <!--                               th:href="@{/brands(page=${brandPage.number + 2})}"-->
                <!--                               aria-label="Next" title="Next Page" data-toggle="tooltip">-->
                <!--                                <span aria-hidden="true">&raquo;</span>-->
                <!--                            </a>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                </nav>-->
                <div th:if="${brandFullViewPage.totalPages > 0}" class="pagination"
                     th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/brands//all-full-view(page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber==brandFullViewPage.number + 1} ? active"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>