<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/common :: head_common(~{this :: script})">
    <meta charset="UTF-8">
    <title>Profile</title>
    <script type="text/javascript" th:src="@{/js/brand/brand.js}"></script>
</head>
<body>
<div th:replace="layout/header/header :: header"/>


<script th:inline="javascript">
    function saveBrand(e) {
        var name = document.getElementById("create-brand-name-input").value;
        var brandArray = [[${existsBrands}]];
        if (brandArray.includes(name)) {
            e.preventDefault();
            $("#create-brand-name-input").addClass("is-invalid");
            $("#create-brand-error-small").text("brand already exist");
            return false;
        } else {
            return true;
        }
    }
</script>

<form id="create-brand-form" th:action="@{/brands}" method="post" th:object="${brand}" onsubmit="saveBrand(event)">
    <div class="form-group">
        <label class="col-form-label" for="create-brand-name-input">Brand name </label>
        <input type="text" class="form-control" placeholder="name" id="create-brand-name-input" name="name" th:field="*{name}" required/>
        <small class="text-danger" id="create-brand-error-small"></small>
    </div>
    <div class="form-group">
        <button type="submit" class="form-control btn btn-light" value="Submit">
            Create
        </button>
    </div>
</form>
</body>
</html>