<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<form id="see-car-form" class="form-horizontal" th:fragment="user-car">
    <div class="card text-white bg-dark mb-0">
        <div class="card-header">
            <h2 class="m-0">Car info</h2>
        </div>
        <div class="card-body">
            <img width="250" height="250" class="card-img-top" scr=""
                 id="see-car-img" alt="Card image cap">
            <!-- id -->
            <div class="form-group" hidden>
                <label class="col-form-label" for="see-car-id">Id</label>
                <input type="text" name="carId" class="form-control" id="see-car-id" required readonly>
            </div>
            <!-- /id -->
            <!-- brand -->
            <div class="form-group">
                <label class="col-form-label" for="see-car-brand">Brand </label>
                <input type="text" name="brand" class="form-control" id="see-car-brand" required readonly>
            </div>
            <!-- /brand -->
            <!-- model -->
            <div class="form-group">
                <label class="col-form-label" for="see-car-model">Model </label>
                <input type="text" name="model" class="form-control" id="see-car-model" required readonly>
            </div>
            <!-- /model -->
            <!-- color -->
            <div class="form-group">
                <label class="col-form-label" for="see-car-color">Color</label>
                <input type="text" name="color" class="form-control" id="see-car-color" required readonly>
            </div>
            <!-- /color -->
            <!-- yearOfProduction -->
            <div class="form-group">
                <label class="col-form-label" for="see-car-yearOfProduction">Year of production </label>
                <input type="text" name="yearOfProduction" class="form-control" id="see-car-yearOfProduction" required
                       readonly>
            </div>
            <!-- /yearOfProduction -->
            <!-- transmission -->
            <div class="form-group">
                <label class="col-form-label" for="see-car-transmission">Transmission </label>
                <input type="text" name="transmission" class="form-control" id="see-car-transmission" required readonly>
            </div>
            <!-- /transmission -->
            <!-- engineType -->
            <div class="form-group">
                <label class="col-form-label" for="see-car-engineType">Engine type </label>
                <input type="text" name="engineType" class="form-control" id="see-car-engineType" required readonly>
            </div>
            <!-- /engineType -->
            <!-- category -->
            <div class="form-group">
                <label class="col-form-label" for="see-car-category">Price</label>
                <input type="text" name="category" class="form-control" id="see-car-category" required readonly>
            </div>
            <!-- pricePerDay -->
            <div class="form-group">
                <label class="col-form-label" for="see-car-pricePerDay">Price</label>
                <input type="text" name="pricePerDay" class="form-control" id="see-car-pricePerDay" required readonly>
            </div>
        </div>
    </div>
</form>


<form id="create-order-form" class="form-horizontal" th:fragment="create-order" method="POST" th:action="@{/orders}">
    <div class="card text-white bg-dark mb-0">
        <div class="card-header">
            <h2 class="m-0">Create order</h2>
        </div>
        <div class="card-body">
            <!-- id -->
            <div class="form-group" hidden>
                <label class="col-form-label" for="create-order-car-id">Id </label>
                <input type="text" name="carId" class="form-control" id="create-order-car-id" required>
            </div>
            <!-- /id -->
            <!-- /passport -->
            <div class="form-group">
                <label class="col-form-label" for="create-order-passport">Passport </label>
                <input type="text" name="passport" class="form-control" id="create-order-passport" required>
            </div>
            <!-- /passport -->
            <!-- /insurance -->
            <div class="form-group">
                <label class="col-form-label" for="create-order-insurance">Is insurance necessary </label>
                <select name="isInsuranceNeeded" class="form-control" id="create-order-insurance" required autofocus>
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>
            </div>
            <!-- /insurance -->
            <!-- start date -->
            <div class="form-group">
                <label class="col-form-label" for="create-order-start-date">Start date </label>
                <input type="datetime-local" name="startRentalDate" class="form-control" id="create-order-start-date"
                       required>
            </div>
            <!-- /start date -->
            <!-- end date -->
            <div class="form-group">
                <label class="col-form-label" for="create-order-end-date">End date </label>
                <input type="datetime-local" name="endRentalDate" class="form-control" id="create-order-end-date"
                       required>
            </div>
            <!-- /end date -->
        </div>
    </div>
</form>


</body>
</html>