<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Car rent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3"
            aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/welcome'}" th:text="#{header.admin.welcome}"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link waves-effect waves-light my-2 my-sm-0 dropdown-toggle" href="#" type="button"
                   id="navbarDropdownMenuLink-order"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{header.admin.orders}">Orders
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique"
                     aria-labelledby="navbarDropdownMenuLink-order">
                    <a class="dropdown-item" th:href="@{'/orders'}">All orders</a>
                    <a class="dropdown-item" th:href="@{'/orders/by-status?status=CONFIRMATION_WAIT'}" th:text="#{header.admin.not.confirm.orders}">All not confirm
                        orders</a>
                    <a class="dropdown-item" th:href="@{'/orders/by-status?status=NOT_PAYED'}" th:text="#{header.admin.not.paid.orders}">All not paid orders</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link waves-effect waves-light my-2 my-sm-0 dropdown-toggle" href="#" type="button"
                   id="navbarDropdownMenuLink-car"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{header.admin.cars}">Cars
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique"
                     aria-labelledby="navbarDropdownMenuLink-car">
                    <a class="dropdown-item" th:href="@{'/cars'}" th:text="#{header.admin.all.cars}">All cars</a>
                    <a class="dropdown-item" th:href="@{'/cars/create'}" th:text="#{header.admin.create.car}">Create car</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link waves-effect waves-light my-2 my-sm-0 dropdown-toggle" href="#" type="button"
                   id="navbarDropdownMenuLink-category"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{header.admin.categories}">Categories
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique"
                     aria-labelledby="navbarDropdownMenuLink-category">
                    <a class="dropdown-item" th:href="@{'/categories'}"th:text="#{header.admin.all.categories}" >All categories</a>
                    <a class="dropdown-item" th:href="@{'/categories/create'}" th:text="#{header.admin.create.category}">Create category</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link waves-effect waves-light my-2 my-sm-0 dropdown-toggle" href="#" type="button"
                   id="navbarDropdownMenuLink-model"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{header.admin.models}">Models
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique"
                     aria-labelledby="navbarDropdownMenuLink-model">
                    <a class="dropdown-item" th:href="@{'/models'}" th:text="#{header.admin.all.models}">All models</a>
                    <a class="dropdown-item" th:href="@{'/models/create'}" th:text="#{header.admin.create.model}">Create model</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link waves-effect waves-light my-2 my-sm-0 dropdown-toggle" href="#" type="button"
                   id="navbarDropdownMenuLink-brand"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{header.admin.brands}">Brands
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique"
                     aria-labelledby="navbarDropdownMenuLink-brand">
                    <a class="dropdown-item" th:href="@{'/brands'}" th:text="#{header.admin.all.brands}">All brands</a>
                    <a class="dropdown-item" th:href="@{'/brands/create'}" th:text="#{header.admin.create.brand}">Create brand</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
                <a class="nav-link waves-effect waves-light dropdown-toggle" href="#" type="button"
                   id="dropdownMenuButton"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="flag-icon flag-icon-us" th:text="#{header.admin.language}"></span> Language
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique"
                     aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"
                       th:href="@{''(lang=en)}"><span
                            class="flag-icon flag-icon-us"></span>
                        EN</a>
                    <a class="dropdown-item"
                       th:href="@{''(lang=ru)}"><span
                            class="flag-icon flag-icon-ru"></span>
                        RU</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link waves-effect waves-light my-2 my-sm-0 dropdown-toggle" href="#" type="button"
                   id="navbarDropdownMenuLink-reports"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{header.admin.reports}">Reports
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique"
                     aria-labelledby="navbarDropdownMenuLink-reports">
                    <a class="dropdown-item" th:href="@{'/reports/orders_report'}" th:text="#{header.admin.reports.orders}">Download orders report</a>
                    <a class="dropdown-item" th:href="@{'/reports/accidents_report'}" th:text="#{header.admin.reports.accidents}">Download accidents report</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink"
                     th:with="auth=${#authentication.principal}">
                    <a class="dropdown-item" th:href="@{'/users/profile/' + ${auth.id}}" th:text="#{header.admin.profile}">Profile</a>
                    <a class="dropdown-item" th:href="@{'/settings' + ${auth.id}}" th:text="#{header.admin.settings}">Settings</a>
                    <form name="logoutFormAdmin" th:action="@{'/logout'}" method="post">
                        <a class="dropdown-item"
                           href="javascript: document.logoutFormAdmin.submit()" role="menuitem" th:text="#{header.admin.logout}"> Logout</a>
                    </form>
<!--                    <a class="dropdown-item"-->
<!--                       href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>-->
                </div>
            </li>
        </ul>
    </div>
</nav>