<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Car rent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3"
            aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/welcome'}" th:text="#{header.user.welcome}"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:with="auth=${#authentication.principal}">
                <a class="nav-link waves-effect waves-light" th:href="@{'/orders/user/' + ${auth.id}}" th:text="#{header.user.orders}">My orders</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link waves-effect waves-light my-2 my-sm-0 dropdown-toggle" href="#" type="button" id="navbarDropdownMenuLink-3"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{header.user.cars}">Cars
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique"
                     aria-labelledby="navbarDropdownMenuLink-3">
                    <a class="dropdown-item" th:href="@{'/cars'}" th:text="#{header.user.all.cars}">See all cars</a>
                    <a class="dropdown-item" th:href="@{'/cars'}" th:text="#{header.user.search.cars}">Search cars</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
                <a class="nav-link waves-effect waves-light dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="flag-icon flag-icon-us" th:text="#{header.user.language}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique"
                     aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"
                       th:href="@{''(lang=en)}"><span
                            class="flag-icon flag-icon-us"></span>
                        EN</a>
                    <a class="dropdown-item"
                       th:href="@{''(lang=ru)}"><span
                            class="flag-icon flag-icon-ru"></span>
                        RU</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <button class="nav-link waves-effect waves-light dropdown-toggle" href="#" type="button" id="dropdownMenuButton1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="flag-icon flag-icon-us" th:text="#{header.user.about}"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique"
                     aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item"
                       th:href="@{'/payment'}"><span
                            class="flag-icon flag-icon-us" th:text="#{header.user.payments}"></span>
                       Payments</a>
                    <a class="dropdown-item"
                       th:href="@{'/roads'}" th:text="#{header.user.road}"><span
                            class="flag-icon flag-icon-ru"></span>
                       Road</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" th:href="@{'/contacts'}" th:text="#{header.user.contacts}">
                Contacts</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink"
                     th:with="auth=${#authentication.principal}">
                    <a class="dropdown-item" th:href="@{'/users/profile/' + ${auth.id}}" th:text="#{header.user.profile}">Profile</a>
                    <a class="dropdown-item" th:href="@{'/settings' + ${auth.id}}" th:text="#{header.user.settings}">Settings</a>
                    <a class="dropdown-item" th:href="@{/reports/{userId}/create(userId=${auth.id})}" th:text="#{header.user.report}">Download report</a>
                    <form name="logoutFormUser" th:action="@{'/logout'}" method="post">
                    <a class="dropdown-item"
                       href="javascript: document.logoutFormUser.submit()" role="menuitem" th:text="#{header.user.logout}"> Logout</a>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>