<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/common :: head_common(~{this :: script})">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div th:replace="layout/header/header :: header"/>

<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-12" th:with="auth=${#authentication.principal}">
            <form id="create-brand-form" th:action="@{/users/{userId}/change-password(userId=auth.id)}" method="post"
                  th:object="${change_password}">
                <div class="card mb-4">
                    <div class="card-header" th:text="#{user.change.password}">Change password</div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="user-old-password-input" class="col-2 col-form-label"
                                   th:text="#{user.exists.password} + ':'">
                                Exists password:
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="user-old-password-input" name="oldPassword"
                                       th:value="*{oldPassword}" required/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="user-new-password-input" class="col-2 col-form-label"
                                   th:text="#{user.new.password} + ':'">
                                New password:
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="user-new-password-input" name="newPassword"
                                       th:value="*{newPassword}" required/>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary" th:text="#{user.change.password.button}">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>