
<form id="sign-up-form" th:action="@{/api/v1/users}" method="post" modelAttribute="registration" th:fragment="sign-up">
    <div class="form-group">
        <label class="col-form-label" for="sign-up-login-input">login </label>
        <input type="text" class="form-control" placeholder="login" id="sign-up-login-input" name="login" required/>
        <small class="text-danger" id="sign-up-login-error-small"></small>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="sign-up-first-name-input">name </label>
        <input type="text" class="form-control" placeholder="name" id="sign-up-first-name-input" name="name" required/>
        <small class="text-danger" id="sign-up-first-name-error-small"></small>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="sign-up-surname-input">surname </label>
        <input type="text" class="form-control" placeholder="surname" id="sign-up-surname-input" name="surname" required/>
        <small class="text-danger" id="sign-up-surname-error-small"></small>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="sign-up-email-input">email </label>
        <input type="text" class="form-control" placeholder="email" id="sign-up-email-input" name="email" required/>
        <small class="text-danger" id="sign-up-email-error-small"></small>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="sign-up-phone-input">phone </label>
        <input type="text" class="form-control" placeholder="phone" id="sign-up-phone-input" name="phone" required/>
        <small class="text-danger" id="sign-up-phone-error-small"></small>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="sign-up-address-input">address </label>
        <input type="text" class="form-control" placeholder="address" id="sign-up-address-input" name="address" required/>
        <small class="text-danger" id="sign-up-address-error-small"></small>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="sign-up-birthday-input">birthday </label>
        <input type="date" class="form-control" placeholder="birthday" id="sign-up-birthday-input" name="birthday"
               required/>
        <small class="text-danger" id="sign-up-birthday-error-small"></small>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="sign-up-driver-license-input">driver_license </label>
        <input type="text" class="form-control" placeholder="driver_license" id="sign-up-driver-license-input" name="driverLicenseNumber" required/>
        <small class="text-danger" id="sign-up-driver-license-error-small"></small>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="sign-up-issue-date-input">driver_license_issue_date </label>
        <input type="date" class="form-control" placeholder="driver_license_issue_date" name="driverLicenseIssueDate"
               id="sign-up-issue-date-input" required/>
        <small class="text-danger" id="sign-up-issue-date-error-small"></small>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="sign-up-expired-date-input">driver_license_expired_date</label>
        <input type="date" class="form-control" placeholder="driver_license_expired_date"
               id="sign-up-expired-date-input"  name="driverLicenseExpiredDate" required/>
        <small class="text-danger" id="sign-up-expired-date-error-small"></small>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="sign-up-password-input">password </label>
        <input type="password" class="form-control" placeholder="password" id="sign-up-password-input" name="password" required/>
        <small class="text-danger" id="sign-up-password-error-small"></small>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="sign-up-confirm-password-input">confirm_password </label>
        <input type="password" class="form-control" placeholder="confirm_password" id="sign-up-confirm-password-input" required/>
        <small class="text-danger" id="sign-up-confirm-password-error-small"></small>
    </div>
    <div class="form-group">
        <button type="submit" class="form-control btn btn-light signupbtn" value="Submit">
            Sign up
        </button>
    </div>
</form>