<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="layout/common :: head_common(~{this :: script})">
    <script type="text/javascript" th:src="@{/js/user/users.js}"></script>
    <meta charset="UTF-8">
    <title>Users</title>
</head>


<body>
<div th:replace="layout/header/header :: header"/>
<div class="container-fluid" sec:authorize="hasAnyAuthority('ADMIN')">
    <div class="col-lg-auto">
        <h3 class="text-center" th:text="#{users.search}">Search users</h3>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-xs-offset-8">
                    <form class="form ml-3 mt-2" th:action="@{/users}" method="get">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="username" th:text="#{users.username} + ':'">Username</label>
                                <input id="username" type="text" name="username" th:value="${filter.getUsername()}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="email" th:text="#{users.email} + ':'">Email:</label>
                                <input id="email" type="email" name="email" th:value="${filter.getEmail()}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="birthday" th:text="#{users.birthday} + ':'">Birthday:</label>
                                <input id="birthday" type="date" name="birthday" th:value="${filter.getBirthday()}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="name" th:text="#{users.name} + ':'">Name:</label>
                                    <input id="name" type="text" name="name" th:value="${filter.getName()}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="surname" th:text="#{users.surname} + ':'">Surname:</label>
                                    <input id="surname" type="text" name="surname"
                                           th:value="${filter.getSurname()}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="expiredLicenseDriverDate" th:text="#{users.license.expired.date} + ':'">Expired driver license date:</label>
                                    <input id="expiredLicenseDriverDate" type="date" name="expiredLicenseDriverDate"
                                           th:value="${filter.getExpiredLicenseDriverDate()}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="allExpiredLicense" th:text="#{users.license.all.expired} + ':'">Choose all users with expired driver licenses:</label>
                                    <input id="allExpiredLicense" type="checkbox" name="allExpiredLicenses"
                                           th:checked="${filter.getAllExpiredLicenses()?: 'false'}">
                            </div>
                            <div class="form-group col-md-6">
                                <div>
                                    <label for="page">Page(start from 1):</label>
                                        <input id="page" type="number" name="page" min="1"
                                               th:value="${usersPage.number + 1}">
                                </div>
                            </div>
                        </div>
                        <button type="submit" th:text="#{users.button.search}">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<span th:if="${#lists.isEmpty(usersPage.content)}" th:text="#{users.no.users}">There are not available users!</span>

<div th:if="${not #lists.isEmpty(usersPage.content)}">
    <div class="container-fluid col">
        <div class="col-lg-auto">
            <div class="panel panel-default">
                <h3 class="text-center" th:text="#{users.list}">Users list</h3>
                <div class="panel-body table-responsive">
                    <table class="table table-condensed table-striped text-center">
                        <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th scope="col" th:text="#{users.name}">Name</th>
                            <th scope="col" th:text="#{users.surname}">Surname</th>
                            <th scope="col" th:text="#{users.phone}">Phone</th>
                            <th scope="col" th:text="#{users.registration}">Registration date</th>
                            <th scope="col" th:text="#{users.role}">Role</th>
                        <tr>
                        </thead>
                        <tbody>
                        <th:block th:each="user, iStat: ${usersPage.content}"
                                  th:style="${iStat.odd}? 'font-weight: bold;'"
                                  th:alt-title="${iStat.even}? 'even' : 'odd'">
                            <tr data-toggle="collapse" th:attr="data-target='#user_' + ${iStat.index}"
                                class="accordion-toggle">
                                <td>
                                    <button class="btn btn-dark btn-xs">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td th:text="${user.userDetailsDto.name}"></td>
                                <td th:text="${user.userDetailsDto.surname}"></td>
                                <td th:text="${user.userDetailsDto.phone}"></td>
                                <td th:text="${user.userDetailsDto.registrationAt}"></td>
                                <td th:text="${user.role.name()}">}</td>
                            </tr>
                            <tr>
                                <td colspan="12" class="hiddenRow">
                                    <div class="accordian-body collapse col-lg-auto table-responsive"
                                         th:id="'user_' + ${iStat.index}">
                                        <table class="table table-striped text-center" id="innerTable">
                                            <thead class="thead-dark">
                                            <tr class="info">
                                                <th th:text="#{users.id}">Id</th>
                                                <th th:text="#{users.username}">Username</th>
                                                <th th:text="#{users.email}">Email</th>
                                                <th th:text="#{users.address}">Address</th>
                                                <th th:text="#{users.birthday}">Birthday</th>
                                                <th th:text="#{users.license.number}">Driver license number</th>
                                                <th th:text="#{users.license.issue}">Driver license issue day</th>
                                                <th th:text="#{users.license.expired}">Driver license expired day</th>
                                                <th colspan="2"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="info">
                                                <td th:text="${user.id}"></td>
                                                <td th:text="${user.username}"></td>
                                                <td th:text="${user.email}"></td>
                                                <td th:text="${user.userDetailsDto.address}"></td>
                                                <td th:text="${user.userDetailsDto.birthday}"></td>
                                                <td th:text="${user.driverLicenseDto.driverLicenseNumber}"></td>
                                                <td th:text="${user.driverLicenseDto.driverLicenseIssueDate}"></td>
                                                <td th:text="${user.driverLicenseDto.driverLicenseExpiredDate}"></td>
                                                <td>
                                                    <form th:action="@{/users/{userId}/delete(userId=${user.id})}"
                                                          method="post">
                                                        <button class="btn btn-dark btn-xs">
                                                            <i class="fa fa-trash"
                                                               aria-hidden="true"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-dark btn-xs"
                                                            data-toggle="modal"
                                                            th:attr="data-target='#changeRole'"
                                                            th:user-id="${user.id}"
                                                            th:onclick="ChangeRole(this.getAttribute('user-id'))">
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <!-- pagination -->
                <nav aria-label="Pagination" th:if="${usersPage.totalPages gt 0}">
                    <ul class="pagination justify-content-center font-weight-bold">
                        <li class="page-item" th:classappend="${usersPage.number eq 0} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/users(page=${usersPage.number lt 2 ? 1 : usersPage.number})}"
                               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${i eq usersPage.number + 1} ? 'active'"
                            th:each="i : ${#numbers.sequence( 1, usersPage.totalPages, 1)}">
                            <a class="page-link" th:href="@{/users(page=${i})}" th:text="${i}"
                               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                        </li>
                        <li class="page-item"
                            th:classappend="${usersPage.number + 1 eq usersPage.totalPages} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/users(page=${usersPage.number + 2})}"
                               aria-label="Next" title="Next Page" data-toggle="tooltip">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="changeRole" tabindex="-1" role="dialog"
         aria-labelledby="changeRoleLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="change-role-label" th:text="#{users.choose.role} + ';'">Choose role:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="attachment-body-content">
                    <form id="change-role-form" action="#" th:action="@{/users/:/change-role}"
                          method="post">
                        <div class="form-group" th:each="role : ${roles}">
                            <input th:id="${role}" type="radio" name="role" th:value="${role}">
                            <label th:for="${role}" th:text="${role}" th:text="${users.role.name}">Role name</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{users.button.close}">Close</button>
                    <button type="submit" form="change-role-form" value="Submit"
                            class="btn btn-primary" th:text="#{users.button.save}">Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>