<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/common :: head_common(~{this :: script})">
    <script type="text/javascript" th:src="@{/js/user/user-details.js}"></script>
    <meta charset="UTF-8">
    <title>Users</title>
</head>

<body>
<div th:replace="layout/header/header :: header"/>
<div class="container-fluid mb7-l">
    <div class="container my-5">
        <h5 class="text-center" th:text="#{user.details.search.parameters}"> Search users details by several parameters</h5>
        <form th:action="@{/user-details}" method="get">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="name" th:text="#{user.details.name} + ':'">Name:</label>
                    <input class="form-control" id="name" type="text" name="name" th:value="${filter.getName()}">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="surname" th:text="#{user.details.surname} + ':'">Surname:</label>
                    <input class="form-control" id="surname" type="text" name="surname"
                           th:value="${filter.getSurname()}">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="birthdate" th:text="#{user.details.birthday} + ':'">Birthdate:</label>
                    <input class="form-control" id="birthdate" type="date" name="birthdate"
                           th:value="${filter.getBirthday()}">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="phone" th:text="#{user.details.phone} + ':'">Phone:
                        <input class="form-control" id="phone" type="text" name="phone" th:value="${filter.getPhone()}">
                    </label>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="address" th:text="#{user.details.address} + ':'">Address:
                        <input class="form-control" id="address" type="text" name="address"
                               th:value="${filter.getAddress()}"></label>
                </div>
                <div class="col-md-4 mb-3">
                    <div>
                        <label for="page" th:text="#{user.details.page} + ':'">Page(start from 1):
                            <input class="form-control" id="page" type="number" name="page" min="1"
                                   th:value="${usersDetailsPage.number + 1}"></label>
                    </div>
                </div>
            </div>
            <button type="submit" th:text="#{user.details.search.button}">Search</button>
        </form>
    </div>
</div>


<div>
    <div class="container my-5">
        <div class="form-group row">
            <button
                    class="from-control btn btn-light btn-lg btn-block"
                    onclick="ShowSearchDatesForm()" th:text="#{user.details.search.date}">Search by dates
            </button>
        </div>
        <div class="row" id="search-dates-form" style="display: none">
            <span class="mr-2" th:text="#{user.details.search.registration.dates}">Search by registration dates</span>
            <form th:action="@{/user-details/by-registration-dates}" method="get">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="start">Start:</label>
                        <input class="form-control" id="start" type="date" name="from">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="end">End:</label>
                        <input class="form-control" id="end" type="date" name="to">
                    </div>
                </div>
                <div class="col-md-8 mb-3 content-center">
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>


<span th:if="${#lists.isEmpty(usersDetailsPage.content)}" th:text="#{user.details.no.user.details}">There are not available users details!</span>

<div th:if="${not #lists.isEmpty(usersDetailsPage.content)}">
    <!--    <div class="container-fluid col">-->
    <div class="col-lg-auto my-5">
        <div class="panel panel-default">
            <h3 class="text-center" th:text="#{user.detail.list}">Users details list</h3>
            <div class="panel-body table-responsive">
                <table class="table table-condensed table-striped text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" th:text="#{user.detail.name}">Name</th>
                        <th scope="col" th:text="#{user.detail.surname}">Surname</th>
                        <th scope="col" th:text="#{user.detail.phone}">Phone</th>
                        <th></th>
                    <tr>
                    </thead>
                    <tbody>
                    <th:block th:each="userDetails, iStat: ${usersDetailsPage.content}"
                              th:style="${iStat.odd}? 'font-weight: bold;'"
                              th:alt-title="${iStat.even}? 'even' : 'odd'">
                        <tr>
                            <td th:text="${userDetails.name}"></td>
                            <td th:text="${userDetails.surname}"></td>
                            <td th:text="${userDetails.phone}"></td>
                            <td>
                                <a th:href="@{'/user-details/' + ${userDetails.id}}"
                                   th:text="#{user.detail.see.detail.info}">User details</a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <!-- pagination -->
            <nav aria-label="Pagination" th:if="${usersDetailsPage.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${usersDetailsPage.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/user-details(page=${usersDetailsPage.number lt 2 ? 1 : usersDetailsPage.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq usersDetailsPage.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, usersDetailsPage.totalPages, 1)}">
                        <a class="page-link" th:href="@{/user-details(page=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item"
                        th:classappend="${usersDetailsPage.number + 1 eq usersDetailsPage.totalPages} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/user-details(page=${usersDetailsPage.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>