<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="layout/common :: head_common(~{this :: script})">
    <meta charset="UTF-8">
    <title>Profile</title>
    <script type="text/javascript" th:src="@{/js/user/profile-user.js}"></script>
</head>
<body>
<div th:replace="layout/header/header :: header"/>

<div class="container-xl px-4 mt-4" sec:authorize="hasAnyAuthority('ADMIN')" th:object="${user}">
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header" th:text="#{user.header}">User info</div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="user-info-email-input" class="col-2 col-form-label" th:text="#{user.email} + ':'">
                            Email:
                        </label>
                        <div class="col-10">
                            <input type="text" class="form-control" id="user-info-email-input" name="email"
                                   th:value="*{email}" readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-info-username-input" class="col-2 col-form-label" th:text="#{user.username} + ':'">
                            Username:
                        </label>
                        <div class="col-10">
                            <input type="text" class="form-control" id="user-info-username-input" name="username"
                                   th:value="*{username}" readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-info-role-input" class="col-2 col-form-label" th:text="#{user.role} + ':'">
                            Role:
                        </label>
                        <div class="col-10">
                            <input type="text" class="form-control" id="user-info-role-input" name="role"
                                   th:value="*{role}" readonly/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header" th:text="#{user.detail.header}">User details info</div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="user-details-name-input" class="col-2 col-form-label" th:text="#{user.detail.name} + ':'">
                            Name:
                        </label>
                        <div class="col-10">
                            <input type="text" class="form-control" id="user-details-name-input" name="name"
                                   th:value="*{userDetailsDto.name}" readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-details-surname-input" class="col-2 col-form-label" th:text="#{user.detail.surname} + ':'">
                            Surname:
                        </label>
                        <div class="col-10">
                            <input type="text" class="form-control" id="user-details-surname-input" name="surname"
                                   th:value="*{userDetailsDto.surname}" readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-details-address-input" class="col-2 col-form-label" th:text="#{user.detail.address} + ':'">
                            Address:
                        </label>
                        <div class="col-10">
                            <input type="text" class="form-control" id="user-details-address-input" name="surname"
                                   th:value="*{userDetailsDto.address}" readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-details-phone-input" class="col-2 col-form-label" th:text="#{user.detail.phone} + ':'">
                            Phone:
                        </label>
                        <div class="col-10">
                            <input type="text" class="form-control" id="user-details-phone-input" name="phone"
                                   th:value="*{userDetailsDto.phone}" readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-details-birthday-input" class="col-2 col-form-label" th:text="#{user.detail.birthday} + ':'">
                            Birthday:
                        </label>
                        <div class="col-10">
                            <input type="text" class="form-control" id="user-details-birthday-input" name="birthday"
                                   th:value="*{userDetailsDto.birthday}" readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-details-registration-input" class="col-2 col-form-label" th:text="#{user.detail.registration} + ':'">
                            Registration date:
                        </label>
                        <div class="col-10">
                            <input type="text" class="form-control" id="user-details-registration-input" name="registrationAt"
                                   th:value="*{userDetailsDto.registrationAt}" readonly/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header" th:text="#{user.license.header}">Driver license info</div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="user-license-name-input" class="col-2 col-form-label" th:text="#{user.license.number} + ':'">
                            Driver license number:
                        </label>
                        <div class="col-10">
                            <input type="text" class="form-control" id="user-license-name-input"
                                   name="driverLicenseNumber"
                                   th:value="*{driverLicenseDto.driverLicenseNumber}" readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-license-issue-date-input" class="col-2 col-form-label" th:text="#{user.license.issue} + ':'">
                            Driver license issue date:
                        </label>
                        <div class="col-10">
                            <input type="text" class="form-control" id="user-license-issue-date-input"
                                   name="driverLicenseIssueDate"
                                   th:value="*{driverLicenseDto.driverLicenseIssueDate}" readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-license-expired-date-input" class="col-2 col-form-label" th:text="#{user.license.expired} + ':'">
                            Driver license expired date::
                        </label>
                        <div class="col-10">
                            <input type="text" class="form-control" id="user-license-expired-date-input"
                                   name="driverLicenseExpiredDate"
                                   th:value="*{driverLicenseDto.driverLicenseExpiredDate}" readonly/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>